@import 'styleguide'

.Console
  position: relative
  overflow-y: auto
  min-height: 100px
  padding: 2 * $unit
  border-bottom: $border
  background: $dark-gray
  color: $white
  flex-grow: 1
  line-height: 1.8
