@import 'styleguide'

.Palette
  width: 4 * 10 * $unit
  height: 4 * 10 * $unit
  border: $unit solid $black
  margin-left: 4 * $unit
  &Element
    width: 10 * $unit
    height: 10 * $unit
    display: inline-block
    