@import 'styleguide'

.draw
  box-sizing: border-box
  height: 100vh
  text-align: center
  background: $dark-gray
  display: flex
  flex-direction: column

.header, .footer
  height: 7 * $unit
  width: 100%
  background: $red

.content
  display: flex
  justify-content: center
  height: 100%
  padding: 2 * $unit $unit $unit

.canvas
  width: 8 * 8 * $unit
  height: 8 * 8 * $unit
  background: $black
  border: $unit solid $black
